* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        :root {
            --color1: #000000; /*Fondo de la página*/
            --color2: #ffffff;  /*Color del texto*/
            --color3: #ffffff;  /*Color del logo*/
            --fuente-principal: 'verdana', sans-serif;  /*Tipografia*/
        }

    body{
        width: 100%;
        background-color: var(--color1);
        font-family: var(--fuente-principal);
        color: var(--color2);
      }

      .navbar .dropdown-menu {
        background-color:var(--color1)#000 !important;
      }
      
      .navbar .dropdown-menu .dropdown-item {
        color: var(--color2)!important;
      }
      
      .navbar .dropdown-menu .dropdown-item:hover {
        background-color: var(--color1) !important;
        color: var(--color2) !important;
      }

      header{
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        text-decoration: none;
        color: var(--color2);
        margin-right: 30px;
      }
